header, nav, section, article, aside, footer {
   display:block;
}
html{
    display: block;
    overflow-x:  hidden;
}
.title{
    position: relative;
    left: 0px;
    top: 0px;
    background-color: #083a77;
    height: 150px;
    width:100%;
    box-shadow: inset 5PX 5PX 5PX black;
    margin-bottom: 0px ; 
}
.welcome{
position:absolute;
color:#ffffff;
top:30px;
right:100px;
font-size:24px;
font-family:Geneva, Arial, Helvetica, sans-serif;
}
#logo{
       position: absolute;
       left: 150px;
       top: 15px;
}
#flag{
    position: absolute;
    right: 350px;
    top:15px;
}
 .hlogin{
     display: block;
       position: absolute;
       right: 80px;
       top: 110px;
       color: #ffffff;
       }
.login a{
       color: #ffffff;
       text-decoration: none;
       }
.hline{
         position: absolute;
         top: 145px;
         width: 100%;
         height: 10px;
         background-color: #cc9900;
        }
        .nav{
            position: absolute;
            width: 100%;
            
    }
 #navbar{
    position:relative;
    left: 0px;
     top: 150px;
    background-color: #083a77;
    height: 40px;
    width: 100%;
    font-size:1em;
}

footer {
  margin-bottom: 0;
  text-align:right;
}
section {
     display: block;    
    position: relative;

    left: 100px;
  float: left;
  width: 100%;
}
.slideshow{
             position: relative;
             height: 450px;
              width: 45%;
              padding-top: 10px;
          }
.tamilpara{
font-size: 18px;
    color: black;
    font-weight: bold;
    position:relative;
    top: 40px;
}
aside {
    
  float: right;
  width: 30%;
}
.sidebar1{
    position: absolute;
    top: 270px;
    left: 850px;
    
}
.bline{
         position: absolute;
		 display: block;
         width: 400px;
         background-color: #083a77;
         color: #ffffff;
		 z-index:+1;
		 }        
        .marqueetext{
                height: 400px;
		        width: 400px;
        }
        .copyright{
            height: 20px;
        }
         