
.title{
    position: relative;
    left: 0px;
    top: 0px;
    background-color: #083a77;
    height: 150px;
    width:100%;
    box-shadow: inset 5PX 5PX 5PX black;
    margin-bottom: 0px ; 
}
#logo{
       position: absolute;
       left: 350px;
       top: 15px;
}
.flag{
 position: absolute;
       left: 20px;
       top: 15px;
}
.flag1{
       position: absolute;
       left: 1000px;
       top: 10px;
}
.hline{
         position: absolute;
         top: 145px;
         width: 100%;
         height: 10px;
         background-color: #cc9900;
        }
        .nav{
            position: absolute;
            width: 100%;
            
    }
footer{
                 position: relative;
                 clear: both;
                 margin-bottom: 0;
                 background-color: #083a77;
                list-style-type: symbols;
                color:palegoldenrod;
                font-size: 16px;
                top: 25px;
                 
           }
          
.copyright{
            height: 20px;
			
        }
